@import "compass";
@import "compass/reset";

[v-cloak] {
  display: none;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.menu {
  padding: 15px;
  background-color: #23292E;
  @include box-sizing(border-box);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.menu-items {
  @include display-flex(flex);
  @include align-items(baseline);

  .brand {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }

  .search-input-wrapper {
    margin-left: 15px;

    input {
      font-size: 16px;
      color: #000;
      padding: 3px 5px;
      outline: none;
      width: 250px;
      border: 1px solid #fff;
      @include border-radius(2px);

      &:focus {
        border-left: 5px solid #00C859;
      }
    }
  }
}

.list-loading-tips {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #23292E;
  letter-spacing: 2px;
  margin-top: 30%;
}

.loading-slide {
  &-enter-active {
    transition: all .5s
  }

  &-leave-active {
    transition: all .5s
  }

  &-enter {
    margin-top: 0;
    opacity: 0
  }

  &-leave-to {
    margin-top: 0;
    opacity: 0
  }
}

.repo-list {
  margin: 81px auto 20px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

.tag {
  color: #333;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 4px 5px;
  background-color: #eee;
  position: relative;

  a.times {
    color: #999;
    text-decoration: none;

    &:hover {
      color: #dd3247;
    }
  }

  &--big {
    font-size: 16px;
    padding: 5px 6px;
  }
}

.tag + .tag {
  margin: 5px;
}

.button {
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #fff;
  letter-spacing: 1px;
  border: 1px solid #aaa;
  @include border-radius(4px);

  &--big {
    padding: 6px 11px;
    font-size: 16px;
  }

  &--info {
    color: #00C859 !important;
    border: 1px solid #00C859 !important;
  }

  &--danger {
    color: #dd3247 !important;
    border: 1px solid #dd3247 !important;
  }
}

.button + .button {
  margin-left: 5px;
}

.repo-item {
  background-color: #fff;
  width: 960px;
  margin: 0 auto;
  @include box-sizing(border-box);
  padding: 20px;
  border: 1px solid #ddd;
  @include border-radius(10px);
  @include box-shadow(1px 1px 1px #aaa);

  .name {
    margin-top: 15px;
    a {
      letter-spacing: 1px;
      font-size: 18px;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .description, .remark {
    line-height: 18px;
    color: #555;
    margin-top: 15px;
    font-size: 16px;
  }

  .buttons {
    text-align: right;
    margin-top: 15px;
  }
}

.repo-item + .repo-item {
  margin-top: 30px;
}

.mask {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.edit-form-wrapper {
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  z-index: 102;

  .edit-form {
    background-color: #fff;
    margin: 0 auto;
    @include box-sizing(border-box);
    padding: 20px;
    border: 1px solid #ccc;
    @include border-radius(5px);

    .form-title {
      padding-bottom: 10px;
      margin-bottom: 20px;
      font-size: 20px;
      border-bottom: 1px solid #eee;
    }

    .form-control + .form-control {
      margin-top: 20px;
    }

    .form-item {
      margin-top: 15px;
    }

    input[type="text"] {
      width: 150px;
      @include border-radius(2px);
      outline: none;
      border: 1px solid #ddd;
      padding: 5px;
    }

    .add-tag-btn {
      display: inline-block;
      margin-left: 5px;
      cursor: pointer;
      border: none;
      background-color: #ddd;
      outline: none;
    }

    textarea {
      padding: 10px;
      @include border-radius(5px);
      outline: none;
      width: 100%;
      border: 1px solid #ddd;
      font-size: 16px;
    }
  }
}